<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-horizontal">
                    <h2>Menu</h1>
                    <li><a href="/"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Home</a></li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: grid"></span> Classes</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#offcanvas-flip" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: info"></span> Info</a></li>
                </ul>  
            </div>
        </div>
    </div>
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <img data-src="{{ url_for('static', filename='mm.png') }}" width="" height="" alt="" uk-img>
            <h3>EMC_APP | By Mauro M.</h3>
            <p>Aplicação que mostra as proximas aulas e datas de entrega de alguns projectos</p>
            <p>This code is protected and released to the public under the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0) License any faliure to comply with the terms stipulated in the license will be met with swift legal action by the Creator.</p>
            <h6>Versão: {{ version }}</h6>
        </div>
    </div>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#offcanvas-nav-primary" uk-toggle><span uk-icon="icon: menu"></span> Menu</a></li>
            </ul>        
        </div>
    </nav>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div>
            <h4>Segunda</h4>
            <ul class="uk-list uk-list-large uk-list-striped">
            {%for i in segunda%}

            <li>{{i['name'].title()}}: {{i['start']}} até {{i['finish']}}</li>

            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div>
            <h4>Terça</h4>
            <ul class="uk-list uk-list-large uk-list-striped">
            {% for i in terca %}

            <li> {{i['name'].title()}}: {{i['start']}} até {{i['finish']}} </li>

            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div>
            <h4>Quarta</h4>
            <ul class="uk-list uk-list-large uk-list-striped">
            {%for i in quarta%}

            <li>{{i['name'].title()}}: {{i['start']}} até {{i['finish']}}</li>

            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div>
            <h4>Quinta</h4>
            <ul class="uk-list uk-list-large uk-list-striped">
            {%for i in quinta%}

            <li>{{i['name'].title()}}: {{i['start']}} até {{i['finish']}}</li>

            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div>
            <h4>Sexta</h4>
            <ul class="uk-list uk-list-large uk-list-striped">
            {%for i in sexta%}

            <li> {{i['name'].title()}}: {{i['start']}} até {{i['finish']}} </li>
            
            {%endfor%}
            </ul>
        </div>
    </div>
</body>
</html>